/* /src/components/Doctors.css */

/* Main container */
.main-doc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Doctors section */
.doctors-section {
    width: 45%;
    height: 70vh;
    text-align: center;
    margin-left: 16px;
	margin-bottom: 216px; 
}

/* Doctor card styles */
.doctor-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    p {
        margin: 0;
    }

    button {
        margin-top: 8px;
        cursor: pointer;
    }
}

/* Form section styles */
.form-sections {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 45%;
    margin-bottom: 306px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-sections h4 {
    margin-bottom: 16px;
    text-align: center;
}

.form-sections form {
    display: flex;
    flex-direction: column;
}

.form-sections form label {
    margin-bottom: 8px;
}

.form-sections form input {
    padding: 8px;
    margin-bottom: 16px;
}

/* Update button styles */
.form-sections form button {
    align-self: flex-start;
    padding: 8px;
    background-color: #3d52a0; /* Test color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #7091e6; /* Window color */
    }
}

/* Button styles */
.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    margin-top: 8px;
    cursor: pointer;
    background-color: #3d52a0; /* Test color */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: #7091e6; /* Window color */
    }
}
